@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease-in-out;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

@media (min-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 0px 10px;
  }
  .header .navbar .logo {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .header .navbar .logo > a img {
    width: 150px;
    height: 100% !important;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .navbar .links {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) {
    position: relative;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a {
    padding: 10px 14px;
    color: #ffffff;
    position: relative; /* Added position relative */
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover {
    color: #f46942;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a.donate-btn {
    padding: 10px 16px;
    background: #eb2406;
    border-radius: 25px;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a.donate-btn:hover {
    color: rgb(115, 189, 254);
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown {
    display: none;
    position: absolute;
    top: 40px; /* Adjusted position */
    left: 0; /* Adjusted position */
    background: #aaa;
    width: 150px;
    /* Removed &:hover from here */
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover ~ .dropdown,
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown:hover {
    display: block;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover ~ .dropdown > a,
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown:hover > a {
    display: block;
    padding: 12px 5px;
  }
  .header .navbar .links > .link:has(a.toggle-icon) {
    display: none;
  }
}
@media (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 10;
  }
  header .navbar {
    width: 100%;
    height: 100%;
    display: block;
    padding: 2px 4px;
    position: relative;
  }
  header .navbar .logo {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  header .navbar .logo > a img {
    width: 150px;
    height: 100px;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .navbar .links {
    display: block;
    height: 100%;
  }
  header .navbar .links > link > a {
    color: #fff;
    padding: 10px 0px;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) {
    display: block;
    padding: 10px;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > a {
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)):has(.dropdown) > a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)):has(.dropdown) > a::after {
    content: "⌄";
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown {
    height: 0px;
    overflow: hidden;
    display: block;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown > a {
    display: block;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown.active-dropdown {
    display: block;
    padding: 1px 20px;
    height: 120px;
    visibility: visible;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown.active-dropdown a {
    display: block;
    padding: 10px 12px;
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown.active-dropdown ~ a::after {
    content: "⌄" !important;
  }
  header .navbar .links > .link:has(a.toggle-icon) {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
  }
  .header.active-header {
    background: rgba(0, 0, 0, 0.95);
    height: 420px;
  }
  .header.active-header.increase {
    height: 530px;
  }
}
.slider {
  width: 100% !important;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slider .slides {
  width: 500%;
  height: 600px;
  display: flex;
}
.slider .slides > input {
  display: none !important;
}
.slider .slides > .slide {
  width: 20%;
  transition: 2s;
}
.slider .slides > .slide > img {
  width: 1400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  mix-blend-mode: difference;
}
.slider .slides > .slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s ease-in-out;
}
.slider .slides > .slide .content h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px #eee, -1px -1px 1px #ddd;
  font-weight: 800;
}
.slider .slides > .navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 9;
}
.slider .slides > .navigation-manual > .manual-btn {
  border: 2px solid #243070;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  cursor: pointer;
}
.slider .slides > .navigation-manual > .manual-btn:hover {
  background: #243070;
}
.slider .slides #radio1:checked ~ .first {
  margin-left: 0%;
}
.slider .slides #radio1:checked ~ .first .content:not(.first) {
  display: none;
  transition: 2s ease-in-out;
}
.slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}
.slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}
.slider .slides #radio4:checked ~ .first {
  margin-left: -60%;
}
.slider .slides #radio2:checked ~ .slide .content:not(.second) {
  display: none;
  transition: 2s ease-in-out;
}
.slider .slides #radio3:checked ~ .slide .content:not(.third) {
  display: none;
  transition: 2s ease-in-out;
}
.slider .slides #radio4:checked ~ .slide .content:not(.fourth) {
  display: none;
  transition: 2s ease-in-out;
}/*# sourceMappingURL=main.css.map */