@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
body {
    width: 100%;
    overflow-x: hidden !important;
}

main {
    width: 100%;
}

@media (min-width: 800px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background: rgba($color: #000000, $alpha: 0.7);
        z-index: 100;

        .navbar {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 15rem;
            padding: 0px 10px;

            .logo {
                width: fit-content !important;
                > a {
                    img {
                        width: 150px;
                        height: 100% !important;
                        mix-blend-mode: difference;
                        object-fit: cover;
                    }
                }
            }

            .links {
                display: flex;
                height: 100%;
                align-items: center;

                > .link:not(:has(a.toggle-icon)) {
                    position: relative;

                    > a {
                        padding: 14px 14px;
                        color: #ffffff;
                        position: relative; /* Added position relative */

                        &:hover {
                            color: #f46942;
                        }

                        &.donate-btn {
                            padding: 10px 16px;
                            background: #eb2406;
                            border-radius: 25px;

                            &:hover {
                                color: rgb(115, 189, 254);
                            }
                        }
                    }

                    .dropdown {
                        display: none;
                        position: absolute;
                        top: 40px; /* Adjusted position */
                        left: 0; /* Adjusted position */
                        background: #aaa;
                        width: 150px;

                        /* Removed &:hover from here */
                    }

                    > a:hover ~ .dropdown,
                    .dropdown:hover {
                        display: block;

                        > a {
                            display: block;
                            padding: 12px 5px;
                        }
                    }
                }

                > .link:has(a.toggle-icon) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background: rgba($color: #000000, $alpha: 0.7);
        overflow: hidden;
        z-index: 100;

        .navbar {
            width: 100%;
            height: 100%;
            display: block;
            padding: 2px 4px;
            position: relative;

            .logo {
                width: fit-content !important;
                > a {
                    img {
                        width: 150px;
                        height: 100px;
                        mix-blend-mode: difference;
                        object-fit: cover;
                    }
                }
            }

            .links {
                display: block;
                height: 100%;

                > link > a {
                    color: #fff;
                    padding: 10px 0px;
                }

                > .link:not(:has(a.toggle-icon)) {
                    display: block;
                    padding: 10px;

                    > a {
                        color: #fff;
                    }

                    &:has(.dropdown) {
                        > a {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            color: #fff;
                            &::after {
                                content: "⌄";
                            }
                        }
                    }

                    > .dropdown {
                        height: 0px;
                        overflow: hidden;
                        display: block;

                        > a {
                            display: block;
                        }
                    }

                    > .dropdown.active-dropdown {
                        display: block;
                        padding: 1px 20px;
                        height: 120px;
                        visibility: visible;

                        a {
                            display: block;
                            padding: 10px 12px;
                            color: #fff;
                        }
                    }

                    .dropdown.active-dropdown ~ a {
                        &::after {
                            content: "⌄" !important;
                        }
                    }
                }

                > .link:has(a.toggle-icon) {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: #fff;
                    font-size: 2rem;
                    padding: 1rem;
                }
            }
        }
    }

    .header.active-header {
        background: rgba($color: #000000, $alpha: 0.95);
        height: 420px;
    }

    .header.active-header.increase {
        height: 530px;
    }

    .slider {
        .slides {
            > .slide {
                .content {
                    h1 {
                        font-size: 1.5rem !important;
                    }
                }
            }
        }
    }
}

.carousel-images {
    height: 700px !important;

    img {
        width: 100%;
        height: 700px;
        mix-blend-mode: difference;
        aspect-ratio: 4 /3;
        object-fit: cover;
    }
}

.events-container {
    width: 100%;
    height: fit-content;

    .cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;

        > .card {
            width: clamp(200px, 330px, 350px) !important;

            > figure {
                > img {
                    display: block !important;
                    width: 100%;
                    height: 250px;
                    aspect-ratio: 4 / 3;
                    mix-blend-mode: difference !important;
                    object-fit: cover;
                }
            }
        }
    }
}

.inner-about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    > figure {
        > img {
            width: clamp(200px, 600px, 600px);
            height: 400px;
            object-fit: cover;
            aspect-ratio: 4 / 3;
            mix-blend-mode: difference;
        }
    }

    .quote {
        width: clamp(300px, 500px, 600px);
        word-break: break-all;
        word-wrap: break-word;
        text-wrap: wrap;
        line-height: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 700;
            font-size: larger;
        }
    }
}

.three-images {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;

    > figure {
        width: clamp(280px, 350px, 350px) !important;
        height: 250px;

        > img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            aspect-ratio: 4 / 3;
        }
    }
}

.pastors-talk-container {
    width: 100%;
    height: 500px;
    background: url("../../images/cathedral-3457933_1920.jpg") no-repeat center
        center fixed;
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        background: rgba($color: #000000, $alpha: 0.85);
        justify-content: center;
        align-items: center;

        .swiper {
            width: 100%;
            height: 100%;
            padding: 1rem;

            .swiper-wrapper {
                height: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;

                .pastor {
                    width: clamp(300px, 300px, 410px) !important;
                    height: 80% !important;
                    background: rgba($color: #ffffff, $alpha: 0.3);
                    border-radius: 7px;
                    padding-top: 90px;
                    padding-inline: 20px;
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;

                    > figure {
                        display: block !important;
                        margin: 0px auto;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        overflow: hidden;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            aspect-ratio: 4 / 3;
                        }
                    }
                }
            }
        }
    }
}

.index-post-section {
    width: 100%;

    > .inner-posts {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        > div {
            min-width: 280px !important;
            max-width: 530px !important;
            height: 470px;

            > figure {
                width: 100%;
                height: 350px;

                > img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 4 / 3;
                    object-fit: cover;
                }
            }
        }
    }
}

.subsciption-container {
    width: 100%;
    height: 400px;
    position: relative;
    background: url("../../images/jesus-3469896_640.jpg") no-repeat center
        center / cover;
    background-attachment: fixed;

    .overlay {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.85);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        > form {
            display: flex;
            flex-direction: row !important;
            > input {
                outline: none !important;
                padding: 13px 12px;
                border-radius: 7px 0px 0px 7px;
                font-size: 13px;
                min-width: 200px;
                max-width: 300px;
                margin-right: -10px;

                &::placeholder {
                    font-size: 12px;
                }
            }

            button {
                outline: none !important;
                padding: 12px 8px 13px 8px;
                border-radius: 0px 7px 7px 0px;
                background: #243070;
                color: #fff;
                display: flex;
                flex-direction: row !important;
                width: 100px;
            }
        }
    }
}

.footer {
    width: 100%;
    background: #171717;
    min-height: 400px;
    display: block;
    position: relative;

    .upper-section {
        width: 100%;
        min-height: 300px;
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(300px, 1fr)
        ); /* Create columns with a minimum width of 200px */
        grid-auto-rows: 200px; /* Set the height of each row */
        gap: 10px; /* Set the gap between grid items */
        grid-auto-flow: row;

        > div {
            padding: 10px;
            text-align: center;

            .logo {
                width: 100%;

                img {
                    display: block;
                    margin: 0px auto;
                    width: 120px;
                }
            }
            h5 {
                color: #fff;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .content {
                address {
                    line-height: 1.5;
                }

                a {
                    display: block;
                    padding: 10px 0px;
                    color: #ccc;
                    font-size: 13px;
                }

                .card {
                    display: flex !important;
                    flex-direction: row !important;
                    gap: 10px;
                    &:not(last-child) {
                        margin-bottom: 20px;
                    }

                    time {
                        float: left;
                        font-size: 8px;
                        color: rgb(249, 63, 94);
                    }
                }
            }
        }
    }

    .lower-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}

.general-overseer-page {
    width: 100%;

    .hero {
        width: 100%;
        height: 600px;
        background: url("../../images/universe-1044107_1280.jpg") no-repeat
            center center / cover;
        mix-blend-mode: difference;

        .overlay {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .overseer-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        > div,
        > figure {
            min-width: 280px;
            width: clamp(280px, 500px, 500px);
        }

        > div {
            height: auto;
        }

        > figure {
            min-height: 500px;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 4 / 3;
                mix-blend-mode: difference;
            }
        }
    }
}

.mummy-overseer-page {
    width: 100%;

    .hero {
        width: 100%;
        height: 600px;
        background: url("../../images/constellations-2609647_1280.jpg")
            no-repeat center center / cover;
        mix-blend-mode: difference;

        .overlay {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .overseer-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        > div,
        > figure {
            min-width: 280px;
            width: clamp(280px, 500px, 500px);
        }

        > div {
            height: auto;
        }

        > figure {
            min-height: 500px;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 4 / 3;
                mix-blend-mode: difference;
            }
        }
    }
}

.contact-page {
    width: 100%;

    .hero {
        width: 100%;
        height: 600px;
        background: url("../../images/himalayas-2301040_1280.jpg") no-repeat
            center center / cover;
        mix-blend-mode: difference;

        .overlay {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .contact-form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        p.error {
            font-size: 8px;
        }
    }
}
