@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  width: 100%;
  overflow-x: hidden !important;
}

main {
  width: 100%;
}

@media (min-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 0px 10px;
  }
  .header .navbar .logo {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .header .navbar .logo > a img {
    width: 150px;
    height: 100% !important;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .navbar .links {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) {
    position: relative;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a {
    padding: 10px 14px;
    color: #ffffff;
    position: relative; /* Added position relative */
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover {
    color: #f46942;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a.donate-btn {
    padding: 10px 16px;
    background: #eb2406;
    border-radius: 25px;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a.donate-btn:hover {
    color: rgb(115, 189, 254);
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown {
    display: none;
    position: absolute;
    top: 40px; /* Adjusted position */
    left: 0; /* Adjusted position */
    background: #aaa;
    width: 150px;
    /* Removed &:hover from here */
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover ~ .dropdown,
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown:hover {
    display: block;
  }
  .header .navbar .links > .link:not(:has(a.toggle-icon)) > a:hover ~ .dropdown > a,
  .header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown:hover > a {
    display: block;
    padding: 12px 5px;
  }
  .header .navbar .links > .link:has(a.toggle-icon) {
    display: none;
  }
}
@media (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 10;
  }
  header .navbar {
    width: 100%;
    height: 100%;
    display: block;
    padding: 2px 4px;
    position: relative;
  }
  header .navbar .logo {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  header .navbar .logo > a img {
    width: 150px;
    height: 100px;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .navbar .links {
    display: block;
    height: 100%;
  }
  header .navbar .links > link > a {
    color: #fff;
    padding: 10px 0px;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) {
    display: block;
    padding: 10px;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > a {
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)):has(.dropdown) > a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)):has(.dropdown) > a::after {
    content: "⌄";
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown {
    height: 0px;
    overflow: hidden;
    display: block;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown > a {
    display: block;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown.active-dropdown {
    display: block;
    padding: 1px 20px;
    height: 120px;
    visibility: visible;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) > .dropdown.active-dropdown a {
    display: block;
    padding: 10px 12px;
    color: #fff;
  }
  header .navbar .links > .link:not(:has(a.toggle-icon)) .dropdown.active-dropdown ~ a::after {
    content: "⌄" !important;
  }
  header .navbar .links > .link:has(a.toggle-icon) {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
  }
  .header.active-header {
    background: rgba(0, 0, 0, 0.95);
    height: 420px;
  }
  .header.active-header.increase {
    height: 530px;
  }
  .slider .slides > .slide .content h1 {
    font-size: 1.5rem !important;
  }
}
.slider {
  width: 100% !important;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slider .slides {
  width: 500%;
  height: 600px;
  display: flex;
  /*  #radio2:checked ~ .slide {
      .content {
          &:not(.second) {
              display: none;
              transition: 2s ease-in-out;
          }
      }
  }

  #radio3:checked ~ .slide {
      .content {
          &:not(.third) {
              display: none;
              transition: 2s ease-in-out;
          }
      }
  }

  #radio4:checked ~ .slide {
      .content {
          &:not(.fourth) {
              display: none;
              transition: 2s ease-in-out;
          }
      }
  } */
  /* Automatic nav */
}
.slider .slides > input {
  display: none !important;
}
.slider .slides > .slide {
  width: 20%;
  transition: 2s;
  position: relative;
}
.slider .slides > .slide > img {
  width: 1400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  mix-blend-mode: difference;
}
.slider .slides > .slide .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s ease-in-out;
  z-index: 1;
  padding: 10px;
}
.slider .slides > .slide .content h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 0px #ddd, -1px -1px 0px #ddd;
  text-rendering: geometricPrecision;
  word-wrap: normal;
  word-break: normal;
  font-weight: 800;
  color: #290271;
  text-align: center;
}
.slider .slides > .slide .content .actions {
  margin-top: 15px;
  text-align: center;
}
.slider .slides > .slide .content .actions a.more {
  padding: 10px 28px;
  color: #fff;
  background: #02147a;
  text-transform: capitalize;
  border-radius: 25px;
  margin-right: 20px;
}
.slider .slides > .slide .content .actions a.donate {
  padding: 10px 28px;
  color: #fff;
  background: #be6d02;
  text-transform: capitalize;
  border-radius: 25px;
}
.slider .slides > .navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  z-index: 9;
}
.slider .slides > .navigation-manual > .manual-btn {
  border: 2px solid #243070;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  cursor: pointer;
}
.slider .slides > .navigation-manual > .manual-btn:hover {
  background: #243070;
}
.slider .slides #radio1:checked ~ .first {
  margin-left: 0%;
  /* .content {
      &:not(.first) {
          display: none;
          transition: 2s ease-in-out;
      }
  } */
}
.slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}
.slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}
.slider .slides #radio4:checked ~ .first {
  margin-left: -60%;
}
.slider .slides > .navigation-auto {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.slider .slides > .navigation-auto div {
  border: 2px solid #243070;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  cursor: pointer;
}
.slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #243070;
}
.slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #243070;
}
.slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #243070;
}
.slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #243070;
}

.events-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.events-container .cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}
.events-container .cards-container > .card {
  width: 330px !important;
}
.events-container .cards-container > .card > figure > img {
  display: block !important;
  width: 100%;
  height: 250px;
  aspect-ratio: 4/3;
  mix-blend-mode: difference !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.inner-about-container > figure > img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
  mix-blend-mode: difference;
}
.inner-about-container .quote {
  width: 500px;
  word-break: break-all;
  word-wrap: break-word;
  text-wrap: wrap;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-about-container .quote h3 {
  font-weight: 700;
  font-size: larger;
}

.three-images {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.three-images > figure {
  width: 350px !important;
  height: 250px;
}
.three-images > figure > img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
}

.pastors-talk-container {
  width: 100%;
  height: 500px;
  background: url("../../images/cathedral-3457933_1920.jpg") no-repeat center center fixed;
  position: relative;
}
.pastors-talk-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}
.pastors-talk-container .overlay .swiper {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.pastors-talk-container .overlay .swiper .swiper-wrapper {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pastors-talk-container .overlay .swiper .swiper-wrapper .pastor {
  width: 300px !important;
  height: 80% !important;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding-top: 90px;
  padding-inline: 20px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.pastors-talk-container .overlay .swiper .swiper-wrapper .pastor > figure {
  display: block !important;
  margin: 0px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.pastors-talk-container .overlay .swiper .swiper-wrapper .pastor > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
}

.index-post-section {
  width: 100%;
}
.index-post-section > .inner-posts {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.index-post-section > .inner-posts > div {
  min-width: 280px !important;
  max-width: 530px !important;
  height: 470px;
}
.index-post-section > .inner-posts > div > figure {
  width: 100%;
  height: 350px;
}
.index-post-section > .inner-posts > div > figure > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.subsciption-container {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("../../images/jesus-3469896_640.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.subsciption-container .overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.subsciption-container .overlay > form {
  display: flex;
  flex-direction: row !important;
}
.subsciption-container .overlay > form > input {
  outline: none !important;
  padding: 13px 12px;
  border-radius: 7px 0px 0px 7px;
  font-size: 13px;
  min-width: 200px;
  max-width: 300px;
  margin-right: -10px;
}
.subsciption-container .overlay > form > input::-moz-placeholder {
  font-size: 12px;
}
.subsciption-container .overlay > form > input::placeholder {
  font-size: 12px;
}
.subsciption-container .overlay > form button {
  outline: none !important;
  padding: 12px 8px 13px 8px;
  border-radius: 0px 7px 7px 0px;
  background: #243070;
  color: #fff;
  display: flex;
  flex-direction: row !important;
  width: 100px;
}

.footer {
  width: 100%;
  background: #171717;
  min-height: 400px;
  display: block;
  position: relative;
}
.footer .upper-section {
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create columns with a minimum width of 200px */
  grid-auto-rows: 200px; /* Set the height of each row */
  gap: 10px; /* Set the gap between grid items */
  grid-auto-flow: row;
}
.footer .upper-section > div {
  padding: 10px;
  text-align: center;
}
.footer .upper-section > div .logo {
  width: 100%;
}
.footer .upper-section > div .logo img {
  display: block;
  margin: 0px auto;
  width: 120px;
}
.footer .upper-section > div h5 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer .upper-section > div .content address {
  line-height: 2.2;
}
.footer .upper-section > div .content a {
  display: block;
  padding: 10px 0px;
  color: #ccc;
  font-size: 13px;
}
.footer .upper-section > div .content .card {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
}
.footer .upper-section > div .content .card:not(last-child) {
  margin-bottom: 20px;
}
.footer .upper-section > div .content .card time {
  float: left;
  font-size: 8px;
  color: rgb(249, 63, 94);
}
.footer .lower-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}/*# sourceMappingURL=main.css.map */